// Copyright (c) 2026 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// -----------------------------------------------------------------------------------------------------------------
			// | TAB    |  Q   |  W   |  E   |  R   |  T   |                | Y    |  U   |  I    |  O   |  P    | BSPC   |
			// | ESC    |  A   |  S   |  D   |  F   |  G   |                | H    |  J   |  K    |  L   |  ;    | '      |
			// | SHIFT  |  Z   |  X   |  C   |  V   |  B   |                | N    |  M   |  ,    |  .   |  /    | SHIFT  |
			//                        | GUI  | LOWER|                                     | RAISE| ENTER|
			//                        | ALT  | SPACE|                                     | DEL  | GUI  |
			bindings = <
&kp TAB    &kp Q &kp W &kp E &kp R &kp T          &kp Y &kp U &kp I     &kp O    &kp P    &kp BSPC
&kp ESC    &kp A &kp S &kp D &kp F &kp G          &kp H &kp J &kp K     &kp L    &kp SEMI &kp SQT
&kp LSHFT  &kp Z &kp X &kp C &kp V &kp B          &kp N &kp M &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                        &out OUT_USB &mo LOWER                              &mo RAISE &kp RET
                        &kp LALT &kp SPACE                              &kp DEL   &kp RGUI
			>;
		};

		lower_layer {
			// -----------------------------------------------------------------------------------------------------------------
			// | `      |  1   |  2   |  3   |  4   |  5   |                | 6    |  7   |  8    |  9   |  0    | BSPC   |
			// | DEL    |  F1  |  F2  |  F3  |  F4  |  F5  |                | LEFT | DOWN | UP    | RIGHT| F6    | F7     |
			// | TRANS  |  F8  |  F9  |  F10 |  F11 |  F12 |                | HOME | PGDN | PGUP  | END  | INS   | TRANS  |
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3  &kp N4  &kp N5          &kp N6    &kp N7    &kp N8   &kp N9   &kp N0   &kp BSPC
&kp DEL   &kp F1 &kp F2 &kp F3  &kp F4  &kp F5          &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &kp F6  &kp F7
&trans    &kp F8 &kp F9 &kp F10 &kp F11 &kp F12         &kp HOME  &kp PG_DN &kp PG_UP &kp END &kp INS  &trans
                          &trans &trans                                     &trans   &trans
                          &trans &trans                                     &trans   &trans
			>;
		};

		raise_layer {
			// -----------------------------------------------------------------------------------------------------------------
			// | ~      |  !   |  @   |  #   |  $   |  %   |                | ^    |  &   |  *    |  (   |  )    | BSPC   |
			// | TRANS  |  -   |  _   |  =   |  +   |  [   |                | ]    |  \   |  |    |  {   |  }    | TRANS  |
			// | TRANS  |      |      |      |      |      |                |      |      |       |      |       | TRANS  |
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			bindings = <
&kp TILDE &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT          &kp CARET  &kp AMPS      &kp STAR   &kp LPAR  &kp RPAR  &kp BSPC
&trans    &kp MINUS &kp UNDER &kp EQUAL &kp PLUS  &kp LBKT           &kp RBKT   &kp BACKSLASH &kp PIPE   &kp LBRC  &kp RBRC  &trans
&trans    &trans    &trans    &trans    &trans    &trans             &trans     &trans        &trans     &trans    &trans    &trans
                               &trans    &trans                                                &trans     &trans
                               &trans    &trans                                                &trans     &trans
			>;
		};

		adjust_layer {
			// -----------------------------------------------------------------------------------------------------------------
			// | BTCLR  | BT0  | BT1  | BT2  | BT3  | BT4  |                |      |      |       |      |       |        |
			// | TRANS  |      |      |      |      |      |                |      |      |       |      |       |        |
			// | TRANS  |      |      | BOOT |RESET |      |                |      |      | RESET |BOOT  |       |        |
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			//                        | TRANS| TRANS|                                     | TRANS| TRANS|
			bindings = <
&bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4          &none &none &none         &none         &none &none
&trans       &none        &none        &none        &none        &none                 &none &none &none         &none         &none &none
&trans       &none        &none        &bootloader  &sys_reset   &none                 &none &none &sys_reset    &bootloader   &none &trans
                                        &trans       &trans                                          &trans        &trans
                                        &trans       &trans                                          &trans        &trans
			>;
		};
	};
};
